.ticket_container {
  border: 1px solid black;
  border-radius: 4px;
  background-color: aquamarine;
  margin: 10px;
}

.ticket_container:hover {
  background-color: rgb(172, 255, 227);
  box-shadow: 0 0 10px aquamarine;
  transform: scale(1.03);
  cursor: grab;
}
